body{
  background:#cad3f9;
  font-family: Sans-Serif;
  
}
.entete{
  background-color:#4282da;
  display: flex;
  margin-top: 30px;
  margin-inline: 10px;
  border-radius: 5px;
  height: 35px;
  box-shadow: 0 0 20px black;
  }
  input{
  background-color: transparent;
  border: solid 1px black;
  display: flex;
  margin-top: 30px;
  margin-inline: 10px;
  border-radius: 50px;
  height: 20px;
  width:150px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  border-style: bold;
  box-shadow: 0 0 2px black;
  }
  input:hover{
    background: #66a9e3;
    border-style: none;
    border-radius: 5px;
    background: white;
  }
.entete:hover
{
 scale: 1.1;
 

}
@keyframes loko{
  25%{border-color:#5b58dd ;}
  75%{border-color:#eb6ea2;}
  100%{border-color: #88eb6e;}
}
button{
  border-style: none;
  background-color: transparent;
  margin-inline: 30px;
  font-weight: bold;
  font-size: 20px;
  margin-right: 0px;
  border-radius: 5px;
  margin-top: 6px;
  margin-bottom: 6px;
  color:white;
  }

.menu{
  margin-left: 315px;
  font-size: 30px;
  border: solid  3px black;
} 

button:active{
  background:#66a9e3 ;
  border-radius: 5px;
  animation: soratra 2s linear infinite;
}
img{
  width: 125px;
  height: 125px;
  margin-top: 0px;
  border-radius: 360px;
  margin-left: 10px;
  border: solid 2px white;
}
.profil
{
  background:#9daee1 ;
  border-radius: 5px;
  margin-top: 30px;
  height: 150px;
  box-shadow: 0 0 10px blue;
  border: solid 2px black;
  
  
}
.profil:hover{
  scale: 1.05;
  background: white;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
  img{
    border: solid 2px black;
  }
  box-shadow: 0 0 5px black;
  }
td{
  font-size: 20px;
  font-family: Georgia;
  }
.soratra{
  margin-top: 20px;
  padding:20px;
  background:#9daee1 ;
  border-radius: 5px;
  box-shadow: 0 0 10px blue;
  font-family: Georgia;
  border: solid 2px black;
  filter: blur(0.5px);
}
.soratra:hover
{
  scale: 1.05;
  background: white;
  filter:none;
  padding: 20px;
  margin-right: 10px;
  margin-left: 10px;
  font-family: Georgia;
  font-size: 15px;
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight:bold;
  filter: none;
  box-shadow: 0 0 4px black;
}
.txt{
  margin-top: 20px;
  padding:20px;
  background:#9daee1 ;
  border-radius: 5px;
  box-shadow: 0 0 10px blue;
  font-family: Georgia;
  border: solid 2px black;
  filter: blur(0.5px);
  
}
.txt:hover
{
  scale: 1.05;
  background: white;
  padding: 20px;
  margin-right: 10px;
  margin-left: 10px;
  font-family: Georgia;
  font-size: 15px;
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight:bold;
  filter: none;
  box-shadow: 0 0 4px black;
  
  }
  